<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Laravel 新手教程 </title>
    <link rel="stylesheet" href="http://bbs.test/css/app.css">
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <a href="" id="logo">Sample App</a>
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">帮助</a></li>
                    <li><a href="#">登录</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="container">
    <div class="col-md-offset-1 col-md-10">

        <div class="col-md-offset-2 col-md-8">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h5>注册</h5>
                  </div>
                  <div class="panel-body">

                      <form action="" method="POST" class="form-horizontal">

                          <div class="form-group ">
                              <lable for="username" class="control-label col-md-2">用户名</lable>
                              <div class="col-md-6">
                                  <input type="text" name="username" class="form-control" placeholder="请输入用户名"
                                         value="">


                              </div>
                          </div>
                          <div class="form-group ">
                              <lable for="email" class="control-label col-md-2">邮箱</lable>
                              <div class="col-md-6">
                                  <input type="text" name="email" class="form-control" placeholder="请输入邮箱"
                                         value="">

                              </div>
                          </div>
                          <div class="form-group">
                              <lable for="password" class="control-label col-md-2">密码</lable>
                              <div class="col-md-6">
                                  <input type="password" name="password" class="form-control" placeholder="请输入密码" value="">

                              </div>
                          </div>
                          <div class="form-group">
                              <lable for="password_confirmation" class="control-label col-md-2">确认密码</lable>
                              <div class="col-md-6">
                                  <input type="password" name="password_confirmation" class="form-control" placeholder="请输入确认密码"
                                         value="">

                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-offset-2 col-md-6">
                                  <button type="submit" class="btn btn-primary">注册</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
       <div class="col-md-12">
           <footer class="footer">
               <small class="slogon">
                   <img class="brand-icon" src="https://lccdn.phphub.org/uploads/images/201612/12/1/iq7WQc2iuW.png?imageView2/1/w/34/h/34">
                   <a href="https://laravel-china.org/courses">
                       刻意练习，每日精进
                   </a>
               </small>
               <nav>
                   <ul>
                       <li><a href="">关于</a></li>
                   </ul>
               </nav>
           </footer>
       </div>
    </div>
</div>
<script type="text/javascript" src="http://bbs.test/js/app.js"></script>
</body>
</html>
